/DemoSilde3/nbproject/private/
/DemoSilde3/build/
/lab3/nbproject/private/
/lab3/build/
/ jslider/nbproject/private/
/ jslider/build/
/Demo4/nbproject/private/
/Demo4/build/
/Lab4/nbproject/private/
/Lab4/build/
/Lab6/nbproject/private/
/Lab6/build/
/Lab8/nbproject/private/
/Lab8/build/
/lab9/nbproject/private/
/lab9/build/
